.carousel-slider {
    display: block;
    position: relative;
    width: 100%;
    /* max-width: 300px; @PARAM */
    overflow: hidden;
    font-family: 'Ropa Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* width: 1500px;  @PARAM */
}

.carousel-container.desktop > div:not(:first-child):not(:last-child){
    margin-right: 5px;
    margin-left: 5px;
}

.carousel-container.desktop > div:first-child{
    margin-right: 5px;
}

.carousel-container.desktop > div:last-child{
    margin-left: 5px;
}

.carousel-slide {
    width: 100%;
    padding: 0;
    margin: 0;  /* @PARAM */
    object-fit: cover;
}

.carousel-image {
    image-rendering: -webkit-optimize-contrast;
    width: 100%;
}

.carousel-slide h1 {
    padding: 5px 10px;
}
.carousel-button {
    background-color: #2b73a1;
    color: #ffffff;
    border: 1px solid #2b73a1;
    outline: none;
    box-shadow: none;
    padding: 6px 26px;
    margin: 5px;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.carousel-button:active{
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.carousel-button.next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.carousel-button.prev {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.carousel-arrow-conatiner {
    height: 90px;
    width: 45px;
    background-color: #ffffff;
    position: absolute;
    top: calc(50% - 45px);
    margin: 0;
    opacity: 0.5;
}

.carousel-arrow-conatiner.next {
    border-bottom-left-radius:90px;
    border-top-left-radius: 90px;
    right: 0;
}

.carousel-arrow-conatiner.prev {
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    left: 0;
}

.carousel-arrow {
    height: 90px;
    width: 45px;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 45px);
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}


.carousel-arrow.next {
    border-bottom-left-radius:90px;
    border-top-left-radius: 90px;
    right: 0;
    justify-content: flex-end;
}

.carousel-arrow.prev {
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    left: 0;
    justify-content: flex-start;
}



.carosel-nav-desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-slider h1 {
    color: #2b73a1;
    font-size: 4vh;
}
